@font-face {
    font-family: "Retro_Gaming";
    src: url("../fonts/Retro_Gaming.ttf") format("truetype");
}
@font-face {
    font-family: "04B_30";
    src: url("../fonts/04B_30__.TTF") format("truetype");
}
@font-face {
    font-family: "Pixeboy";
    src: url("../fonts/Pixeboy-z8XGD.ttf") format("truetype");
}